<!DOCTYPE html>
<html>
  <head>
    <title>In The Jungle...</title>
    <link rel="stylesheet" href="~/Styles/styles.css" type="text/css" />
  </head>
  <body style="background-color:magenta;">
    <h1>In The Jungle...</h1>
    <p>I walk through the color jungle...</p>
    <p>I take out my @Model.Adj1 canteen.</p>
    <p>There's a @Model.Adj2 parrot with a @Model.Adj3 @Model.Noun1 in his mouth right in front of me in the @Model.Adj4 trees!</p>
    <p>I gaze at his @Model.Adj5 @Model.Noun2 . A sudden sound awakes me from my daydream. </p>
    <p>A panther's @Model.Verb1 in front of my head! I @Model.Verb2 his @Model.Adj6 breath. </p>
    <p>I remember I have a packet of @Model.Noun3 that makes him go into a deep slumber.  I @Model.Verb3 it away in front of the @Model.Noun4 .</p>
    <p>Yes, he's eating it! I @Model.Verb4 away through the @Model.Adj7 jungle.</p>
    <p>Phew, it's been an exciting day in the jungle!</p>
  </body>
</html>
